* {
    font-family: 'Raleway', helvetica, sans-serif;
}

header {
    background-color: black;
    height: 41px;
    width: 100%;
}

nav {
    float: right;
    color: white;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
    border: 1px solid red;
}

h1 {
    color: white;
    float: left;
    padding-top: 12px;
    font-weight: 900;
    font-size: 15px;
}

li {
    float: left;
    padding-top: 12px;
    font-weight: 900;
    font-size: 15px;
    padding-left: 10px;
}

h1 > span {
    color: #24ba9f;
    font-weight: 900;
    font-size: 15px;
    margin-top: 10px;
}

section > div > span {
    color: #24ba9f;
    font-size: 70px;
    font-weight: 100;
    float:left;
    padding-top: 220px;
    padding-left: 15px;
}

black_chair {
    float:left;
}

img {
    margin-top: 70px;
    width: 545px;
    height: 420px;
}

section {
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 63%, rgba(188,188,188,0.73) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 63%,rgba(188,188,188,0.73) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 63%,rgba(188,188,188,0.73) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#babcbcbc',GradientType=0 ); /* IE6-9 */
    copy
            Current gradient has opacity, switching color format to 'rgba'

}